<template>
  <v-menu bottom left>
    <template v-slot:activator="{ on }">
      <v-btn
        :dark="isBtnTextDark"
        text
        v-on="on"
        class="language-selector"
        :style="btnStyle"
      >
        <v-icon>mdi-translate</v-icon>
        <h3 class="ml-1">{{ $t(`language.${$i18n.locale}`) }}</h3>
        <v-icon right>mdi-menu-down</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="(lang) in languages"
        :key="lang.code"
        @click="setLang(lang.code)"
      >
        <v-list-item-title>{{ lang.label }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script src="./language-selector.component.ts" lang="ts"></script>
<style src="./language-selector.scss" lang="scss" scoped></style>
