.generic-route {
  @include themify($themes) {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4000;
    background: themed('bg-color');

    .terms {
      background: #E8F3F9;
      padding: 1rem 0 1rem;
      margin-bottom: -1rem;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      padding: 0 15px;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: themed('overlay-color') !important;
      opacity: 1;
    }

    &.success {
      .overlay {
        opacity: 0.94;
      }
    }

    &.error {
      background: #000;
    }
  }
}
