<template>
  <div class="container-fluid">
    Inventory View
  </div>
</template>

<script src="./inventory-view.view.ts" lang="ts"></script>
<style src="./inventory-view.scss" lang="scss" scoped></style>
