.navbar-container {
  @include themify($themes) {
    .overlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: inherit;
      opacity: 0;
      transition: all 0.5s ease-in-out;

      &.active {
        display: block;
        opacity: 1;
        z-index: 3;
      }
    }

    .navbar-img {
      width: auto;
      height: themed('logo-height');
      max-width: 180px;
    }

    ::v-deep .v-image__image {
      background-size: contain;
    }

    ::v-deep .navbar,
    ::v-deep .v-toolbar__content {
      width: 100%;
      height: 60px !important;
    }

    ::v-deep a {
      color: rgba(0, 0, 0, 0.87);
    }

    .route-link {
      padding: 0.55rem 1rem 0.75rem;
      margin: 0 0.5rem;
      text-align: left;
      font-weight: 500;
      letter-spacing: 0;
      color: #303133;
      opacity: 0.76;

      &:first-child {
        margin-left: 1rem;
      }

      &.highlighted {
        background: themed('navbar-color');
        color: themed('btn-text-color');
        border-radius: 24px;
        border-bottom: none;
        font-weight: 600;
      }

      &.active {
        background: none;
        border-radius: 0;
        border-bottom: 4px solid themed('navbar-color');
      }

      &.highlighted.active {
        color: themed('navbar-color');
      }
    }
  }
  .notification-count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: $red;
    border: 2px solid $red;
    color: $white;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: 2px;
  }
}

.notification-container {
  ::v-deep .v-list-item {
    min-height: auto;
  }

  ::v-deep .v-list-item__content {
    padding: 0 0 5px 0 !important;
  }

  ::v-deep .v-list-item.notification-link {
    min-height: 48px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}
