<template>
  <div class="container-fluid receipt-find">
    <v-dialog
      v-model="isShowCartonHeaders"
      fullscreen
      content-class="lf-dialog"
      persistent
      @click:outside="hideCartonHeadersModal"
    >
      <v-btn icon dark @click="orderData = null" class="dialog-close-btn">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card style="min-height: 100%;">
        <v-toolbar
          dark
          flat
          color="primary"
          class="pa-0"
        >
          <h1 class="w-100 text-center">{{ $t('fields.cartonHeaders') }}</h1>
        </v-toolbar>
        <v-card-text class="pa-0">
          <v-data-table
            :headers="tableCartonHeaders"
            :items="cartonHeaders"
            :height="750"
            calculate-widths
            fixed-header
            item-key="id"
            class="elevation-1 mb-3"
          >
            <template v-slot:item.index="{ item }">
              {{ cartonHeaderIndex(item) + 1 }}
            </template>

            <template v-slot:item.view="{ item }">
              <v-icon @click="showCartonHeaders(item)" class="my-1 cursor-pointer">mdi-text-box</v-icon>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-row class="search-bar" dense>
      <v-col cols="12" sm="6" md="2">
        <v-menu
          ref="fromDateMenu"
          transition="scale-transition"
          min-width="290px"
          offset-y
          :return-value.sync="fromDate"
          v-model="isShowFromDateMenu"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="fromDate"
              :label="$t('general.from')"
              prepend-inner-icon="mdi-calendar"
              v-bind="attrs"
              v-on="on"
              outlined
              dense
              hide-details
              readonly
              id="fromDateMenu"
              name="fromDateMenu"
            />
          </template>
          <v-date-picker
            v-model="fromDate"
            scrollable
            :allowed-dates="fromDateMenuAllowedDates"
            @change="$refs.fromDateMenu.save(fromDate)"
          />
        </v-menu>
      </v-col>
      <v-col cols="12" sm="6" md="2">
        <v-menu
          ref="toDateMenu"
          transition="scale-transition"
          min-width="290px"
          offset-y
          :return-value.sync="toDate"
          v-model="isShowToDateMenu"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="toDate"
              :label="$t('general.to')"
              prepend-inner-icon="mdi-calendar"
              v-bind="attrs"
              v-on="on"
              outlined
              dense
              hide-details
              readonly
              id="toDateMenu"
              name="toDateMenu"
            />
          </template>
          <v-date-picker
            v-model="toDate"
            scrollable
            :allowed-dates="toDateMenuAllowedDates"
            @change="$refs.toDateMenu.save(toDate)"
          />
        </v-menu>
      </v-col>
      <v-col cols="6" sm="2" class="p-0">
        <v-text-field
          outlined
          dense
          hide-details="auto"
          :label="$t('fields.poNum')"
          v-model="poNum"
          @keydown.enter.prevent="getData"
        />
      </v-col>
      <v-col>
        <v-btn
          color="primary"
          :disabled="helper.isEmptyString(poNum)"
          @click="getData"
        >
          <v-icon left>mdi-magnify</v-icon> {{ $t('general.search') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="data.length">
      <v-col cols="12">
        <v-card outlined>
          <v-card-text style="padding: 16px;">
            <v-row>
              <v-col cols="12">
                <v-data-table
                  :headers="itemTableHeaders"
                  :items="data"
                  :height="600"
                  calculate-widths
                  fixed-header
                  item-key="id"
                  class="elevation-1 mb-3"
                >
                  <template v-slot:item.index="{ item }">
                    {{ itemTableIndex(item) + 1 }}
                  </template>

                  <template v-slot:item.view="{ item }">
                    <v-icon @click="showCartonHeaders(item)" class="my-1 cursor-pointer">mdi-text-box</v-icon>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script src="./receipt-find.view.ts" lang="ts"></script>
<style src="./receipt-find.scss" lang="scss" scoped></style>
