.receipt-find {
  @include themify($themes) {
    .search-bar {
      background: $white;
      border-top: 1px solid themed('separator-color');
      border-bottom: 1px solid themed('separator-color');
      padding: 8px 40px;
      margin: -16px -16px 0;
    }

    .highlight {
      color: #058C1A;
    }
  }
}

.receipt-find-dialog .v-card__text {
  min-height: calc(100vh - 130px);
}
