<template>
  <div class="container-fluid">
    Picking Summary Report
  </div>
</template>

<script src="./report-picking-summary.view.ts" lang="ts"></script>
<style src="./report-picking-summary.scss" lang="scss" scoped></style>
