.login-form {
  img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
  }

  .logflows-title {
    color: #47525e;
    font-size: 62px;
    line-height: 93px;
    text-align: left;
  }

  .logflows-subtitle {
    color: #969faa;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    line-height: 41px;
    text-align: left;
  }
}
