<template>
  <v-form class="login-form">
    <v-container>
      <img :src="appLogo" :alt="appName" width="512px" height="512px"/>
      <h2 class="logflows-subtitle">WAREHOUSE</h2>
      <v-form ref="form" lazy-validation>
        <v-row class="mt-10">
          <v-col cols="12">
            <v-text-field
              outlined
              dense
              autocomplete="off"
              autocapitalize="none"
              id="username"
              name="username"
              :rules="usernameRules"
              :label="$t('placeholder.username')"
              v-model="formData.username"
              @keydown.enter.prevent="submitLogin"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              outlined
              dense
              autocomplete="off"
              autocapitalize="none"
              :type="isShowPwd ? 'text' : 'password'"
              :append-icon="isShowPwd ? 'mdi-eye' : 'mdi-eye-off'"
              id="password"
              name="password"
              :rules="passwordRules"
              :label="$t('placeholder.password')"
              v-model="formData.password"
              @click:append="isShowPwd = !isShowPwd"
              @keydown.enter.native.prevent="submitLogin"
            />
          </v-col>
        </v-row>
      </v-form>
      <v-checkbox
        class="mt-0 grey--text"
        hide-details
        dense
        v-model="formData.rememberMe"
        :label="$t('login.rememberMe')"
      />
      <v-btn
        class="w-100 primary-btn mt-5"
        large
        dark
        @keyup.enter.native.prevent="submitLogin"
        @click.native.prevent="submitLogin"
      >
        {{ $t('login.logIn') }}
      </v-btn>
    </v-container>
  </v-form>
</template>

<script src="./login-form.component.ts" lang="ts"></script>
<style src="./login-form.scss" lang="scss" scoped></style>
