.unauthorized {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: calc(#{$sm-min} - 1px);
  width: 100%;
  line-height: 1.4;
  text-align: center;

  h1 {
    text-align: center;
    font: Medium 64px/77px Lato;
    letter-spacing: 0;
    color: $bay-blue;
    opacity: 1;
  }

  h2 {
    text-align: center;
    font: Semibold 32px/39px Lato;
    letter-spacing: 0;
    color: $gun-purple;
    opacity: 1;
  }

  .unauthorized-image {
    margin: auto;
    width: 629px;
    height: 450px;
    background: transparent url('~@/assets/images/undraw_security_o890.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  a {
    font: Semibold 32px/39px Lato;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    border: 1px solid $dove-gray;
    border-radius: 6px;
    background: $bay-blue 0% 0% no-repeat padding-box;
    padding: 25px 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 100%;
    margin-top: 1rem;

    &:hover {
      background: $gun-purple 0% 0% no-repeat padding-box;
    }
  }
}
