<template>
  <div class="generic-route h-v100">
    <div class="unauthorized">
      <h1>{{ $t('general.unauthorized') }}</h1>
      <h2>{{ $t('general.error401') }}</h2>
      <div class="unauthorized-image"></div>
      <router-link to="/"><span>{{ $t('general.goBackToHome') }}</span></router-link>
    </div>
  </div>
</template>

<script src="./unauthorized.view.ts" lang="ts"></script>
<style src="./unauthorized.scss" lang="scss" scoped></style>
