<template>
  <div class="login-container">
    <div class="rectangle"></div>
    <div class="polygon"></div>
    <div class="circle">
      <div class="truck-image"></div>
      <!--<img :src="appLogo" :alt="appName" width="512px" height="512px"/>-->
    </div>
    <div class="none-layout-container">
      <v-card class="login-card">
        <v-row>
          <!--<v-col cols="12" lg="7" class="h-100 d-none d-sm-block">-->
          <!--  <div class="circle"></div>-->
          <!--  <div class="d-flex justify-center align-center" style="height: 100%">-->
          <!--    <img :src="appLogo" :alt="appName" width="512px" height="512px"/>-->
          <!--  </div>-->
          <!--</v-col>-->
          <v-col cols="12">
            <div
              class="d-flex flex-column justify-center align-center"
              style="height: 100%"
            >
              <login-form/>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </div>


    <!--<v-row class="none-layout-container">-->
    <!--  <v-col cols="12" lg="7" class="h-100 d-none d-sm-block">-->
    <!--    <div class="circle"></div>-->
    <!--    <div class="d-flex justify-center align-center" style="height: 100%">-->
    <!--      <img :src="appLogo" :alt="appName" width="512px" height="512px"/>-->
    <!--    </div>-->
    <!--  </v-col>-->
    <!--  <v-col cols="12" lg="5">-->
    <!--    <div-->
    <!--      class="d-flex flex-column justify-center align-center"-->
    <!--      style="height: 100%"-->
    <!--    >-->
    <!--      <login-form/>-->
    <!--    </div>-->
    <!--  </v-col>-->
    <!--</v-row>-->
  </div>
</template>

<script src="./../login.view.ts" lang="ts"></script>
<style src="./../styles/default.scss" lang="scss" scoped></style>
