.login-container {
  background: #E5E5E5;

  .form-multi-user {
    padding: 24px;
  }

  .login-card {
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: 600px;
    padding: 0 120px 24px;

    @media (min-width: $lg-min) {
      position: absolute;
      right: 20%;
    }

    @media (max-width: $md-min) {
      height: 100vh;
    }
  }

  .circle {
    position: absolute;
    top: 10%;
    left: -25%;
    border-radius: 50%;
    width: 45%;
    height: 80%;
    background: #FFC107;
    margin: auto 0;
  }

  .truck-image {
    //background: transparent url('~@/assets/images/worker.png') bottom right no-repeat padding-box;
    background-image: url('~@/assets/images/worker.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 80%;
    height: 60%;
    margin: 15vh 10vh;
  }

  .rectangle {
    position: absolute;
    width: 80vh;
    height: 100vh;
    left: 0;
    top: 0;
    background: #2B3990;
  }

  .polygon {
    position: absolute;
    width: 130vh;
    height: 130vh;
    left: 0;
    top: -10vh;
    background: #2B3990;
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg);
  }
}
