<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="<%= VUE_APP_BASE_URL %>/favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla|Roboto|Lato:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="<%= VUE_APP_BASE_URL %>/loader.css">
    <title><%= VUE_APP_NAME %></title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="app"></div>
  </body>
</html>
