<template>
  <div class="generic-route h-v100">
    <div class="not-found">
      <h1>{{ $t('general.pageNotFound') }}</h1>
      <h2>{{ $t('general.error404') }}</h2>
      <div class="not-found-image"></div>
      <router-link to="/"><span>{{ $t('general.goBackToHome') }}</span></router-link>
    </div>
  </div>
</template>

<script src="./not-found.view.ts" lang="ts"></script>
<style src="./not-found.scss" lang="scss" scoped></style>
