<template>
  <div class="container-fluid">
    Receipt Summary Report
  </div>
</template>

<script src="./report-receipt-summary.view.ts" lang="ts"></script>
<style src="./report-receipt-summary.scss" lang="scss" scoped></style>
