.not-supported {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  //max-width: calc(#{$sm-min} - 1px);
  width: 60%;
  line-height: 1.4;
  text-align: center;
  background: $white;
  padding: 5rem 2rem;

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    opacity: 1;
    margin-top: 1rem;
  }

  .subtitle {
    text-align: center;
    font-size: 24px;
    opacity: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .image {
    margin: auto;
    width: 224px;
    height: 224px;
    background: transparent url('~@/assets/images/browser-not-supported-icon-2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .browser-container {
    border: 1px solid #B7B7B7;
    border-radius: 4px;
    width: 250px;
    height: 75px;
    margin: 1rem;
    padding: 0.75rem 1rem;
    display: inline-block;
    cursor: pointer;
  }

  .browser-logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 3rem;
  }

  .browser-name,
  .browser-company {
    margin-left: 1rem;
    text-align: left;
    text-transform: capitalize;
  }

  .browser-name {
    color: #464646;
  }

  .browser-company {
    color: #464646A8;
  }
}
