<template>
  <div class="generic-route h-v100">
    <div class="not-supported">
      <div class="image"></div>
      <div class="title">Oh No! :(</div>
      <div class="subtitle">{{ $t('general.browserUnsupportedMsg') }}</div>
      <a
        class="browser-container"
        v-for="(browser, index) in supportedBrowsers"
        :key="browser.name"
        :href="browser.link"
        target="_blank"
      >
        <v-img class="browser-logo" :src="browserLogo(browser.name)"></v-img>
        <div class="browser-name">{{ browser.name }}</div>
        <div class="browser-company">{{ browser.company }}</div>
      </a>
    </div>
  </div>
</template>

<script src="./not-supported.view.ts" lang="ts"></script>
<style src="./not-supported.scss" lang="scss" scoped></style>
