<template>
  <div class="container-fluid">
    Inventory Report
  </div>
</template>

<script src="./report-inventory.view.ts" lang="ts"></script>
<style src="./report-inventory.scss" lang="scss" scoped></style>
