.navbar-container {
  @include themify($themes) {
    .overlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: inherit;
      opacity: 0;
      transition: all 0.5s ease-in-out;

      &.active {
        display: block;
        opacity: 1;
        z-index: 3;
      }
    }

    .navbar-img {
      width: auto;
      height: themed('logo-height');
      max-width: 180px;
    }

    ::v-deep .v-image__image {
      background-size: contain;
    }

    ::v-deep .navbar,
    ::v-deep .v-toolbar__content {
      width: 100%;
      height: 60px !important;
    }

    ::v-deep a {
      color: rgba(0, 0, 0, 0.87);
    }

    .route-link {
      padding: 0.55rem 1rem 0.75rem;
      margin: 0 0.5rem;
      text-align: left;
      font-weight: 500;
      letter-spacing: 0;
      color: #303133;
      opacity: 0.76;

      &:first-child {
        margin-left: 1rem;
      }

      &.highlighted {
        background: themed('navbar-color');
        color: $white;
        border-radius: 24px;
        border-bottom: none;
      }

      &.active {
        background: none;
        border-radius: 0;
        border-bottom: 4px solid themed('navbar-color');
      }

      &.highlighted.active {
        color: themed('navbar-color');
      }
    }
  }
}
