<template>
  <div class="navbar-container">
    <div class="content">
      <v-app-bar light color="white" class="navbar" elevate-on-scroll>
        <router-link class="navbar-brand" :to="homeRoute">
          <v-img
            v-if="$userInformation.company && $userInformation.company.picture"
            class="navbar-img"
            :src="$userInformation.company.picture"
          />
          <v-img
            v-else
            class="navbar-img"
            :src="appLogo"
            :alt="appName"
          />
        </router-link>

        <div class="navbar-nav ml-auto">
          <template v-if="$isLogIn">
            <v-menu bottom left>
              <template v-slot:activator="{ on }">
                <v-btn color="black" icon v-on="on">
                  <v-icon>mdi-account</v-icon>
                </v-btn>
              </template>
              <v-list>
                <!--Username-->
                <v-list-item>
                  <span>{{ ($userInformation.firstName && $userInformation.lastName) ? `${$userInformation.firstName} ${$userInformation.lastName}` : 'USER' }}</span>
                </v-list-item>

                <!--Logout-->
                <v-list-item @click="logOutUser">
                  <v-list-item-title>
                    <v-icon>mdi-logout</v-icon>
                    {{ $t('logout.logout') }}
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </div>
      </v-app-bar>
    </div>
  </div>
</template>

<script src="./navbar.component.ts" lang="ts"></script>
<style src="./navbar.scss" lang="scss" scoped></style>
