<template>
  <div class="snackbar-stack">
    <v-snackbar
      v-for="(item, itemIndex) in $snackbars"
      :key="itemIndex"
      v-model="item.isShow"
      class="m-3 mt-2 mr-5"
      :type="item.type"
      absolute
      top
      right
      :color="item.type"
      :timeout="0"
    >
      <v-icon v-if="item.type === 'success'" color="white" class="mr-3">mdi-checkbox-marked-circle</v-icon>
      <v-icon v-if="item.type === 'info'" color="white" class="mr-3">mdi-information</v-icon>
      <v-icon v-if="item.type === 'warning'" color="white" class="mr-3">mdi-alert-circle</v-icon>
      <v-icon v-if="item.type === 'error'" color="white" class="mr-3">mdi-alert</v-icon>

      <span v-html="item.message"></span>

      <v-btn dark icon @click="$removeSnackbar(itemIndex)">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script src="./snackbar-stack.component.ts" lang="ts"></script>
<style src="./snackbar-stack.scss" lang="scss" scoped></style>
