.snackbar-stack {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  //width: 100vw;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-around;

  div {
    position: relative !important;
    margin-bottom: 8px;
  }
}
