.sidebar {
  @include themify($themes) {
    background: themed('navbar-color');
    width: 250px;
    position: fixed;
    top: 0;
    left: -280px;
    //height: 100vh;
    z-index: 9999;
    transition: all 0.3s;
    //overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &.active {
      left: 0;
    }
  }
}

.v-cover-bar {
  @include themify($themes) {
    background: themed('navbar-color');
  }
}

.sidebar::-webkit-scrollbar{
  width: .6em;
  height: .6em;
}

.sidebar::-webkit-scrollbar-corner {
  @include themify($themes) {
    background: themed('navbar-color');
  }
}

.sidebar::-webkit-scrollbar-track-piece{
  @include themify($themes) {
    background-color: themed('navbar-color');
  }
}

.sidebar::-webkit-scrollbar-thumb{
  @include themify($themes) {
    background-color: themed('navbar-color-darker');
  }
}

.sidebar::-webkit-scrollbar-thumb:hover{
  @include themify($themes) {
    background-color: themed('navbar-color-darkest');
  }
}

.sidebar {
  @include themify($themes) {
    height: 100vh;
    overflow-y: auto;

    hr {
      border: 1px solid $yellow;
    }

    &.active {
      left: 0;
    }

    .navbar-img {
      width: auto;
      height: 30px;
      margin: 2px 0px;
      max-width: 220px;
    }

    .dropdown-item {
      background-color: $light-white;
    }

    .sidebar-header {
      background: themed('navbar-color');
      padding: 14px 20px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid $yellow;

      a {
        margin: 10px;
        font-size: 1.2em;
        color: $white;
        text-decoration: none;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    ul.child-components {
      li a {
        padding-left: 30px;
      }
    }

    ul p {
      color: $white;
      padding: $base-padding-px;
    }

    ul li a {
      background: themed('navbar-color');
      color: $white;
      padding: $base-padding-px;
      display: block;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background: themed('navbar-color-darker');
      }
    }

    ul li.active > a,
    a[aria-expanded="true"] {
      background: themed('navbar-color');
      color: $yellow;
      text-decoration: none;

      &:hover {
        background: themed('navbar-color-darker');
      }
    }

    a[data-toggle="collapse"] {
      position: relative;
    }

    .sidebar-list-container {
      .sidebar-parent {
        position: relative;
        cursor: pointer;
        &:hover {
          background: themed('navbar-color-darker');
        }
      }

      .sidebar-name {
        color: $white;
        padding: 15px;
        display: inline-block;
        text-decoration: none;
        width: 220px;
      }

      .caret {
        color: $white;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 5%;
      }

      .sidebar-child {
        list-style: none;
        padding: 0px;

        &.hide-me {
          display: none;
        }

        li > a {
          padding-left: 30px;
        }
      }
    }
  }
}
