<template>
  <div class="scroll-bar-wrap" :class="{ active: isDisplaySidebar }">
    <div class="sidebar scroll-box" :class="{ active: isDisplaySidebar }">
      <div class="sidebar-header">
        <v-img
          v-if="$userInformation.company && $userInformation.company.picture"
          class="navbar-img"
          :src="$userInformation.company.picture"
        />
        <v-img
          v-else
          class="navbar-img"
          :src="appLogo"
          :alt="appName"
        />
      </div>
      <ul class="list-unstyled components">
        <li
          v-for="(route, routeIndex) in routeList"
          :key="route.name + routeIndex"
          :class="getParentRouteClass(route)"
        >
          <template v-if="!hasChildren(route)">
            <router-link
              :to="route.path"
              :key="route.name"
            >
              {{ $t(`navigation.${route.name}`) }}
            </router-link>
          </template>

          <template v-if="hasOneChildren(route)">
            <router-link
              :to="route.children[0].path"
              :key="route.children[0].name"
            >
              {{ $t(`navigation.${route.children[0].name}`) }}
            </router-link>
          </template>

          <template v-if="hasMoreThanOneChildren(route)">
            <div class="sidebar-list-container">
              <div class="sidebar-parent" @click="showChildren(route.meta)">
                <span class="sidebar-name">{{ $t(`navigation.${route.name}`) }}</span>
                <v-icon class="caret" :class="{ open: !route.meta.isHideChildren }">
                  mdi-menu-down
                </v-icon>
              </div>
              <ul class="sidebar-child" :class="{ 'd-none': route.meta.isHideChildren }">
                <li v-for="childRoute in route.children" :key="childRoute.name" :class="getChildRouteClass(childRoute)">
                  <router-link :to="childRoute.path" :key="childRoute.name">
                    {{ $t(`navigation.${childRoute.name}`) }}
                  </router-link>
                </li>
              </ul>
            </div>
          </template>
        </li>
      </ul>
    </div>
    <div class="v-cover-bar"></div>
  </div>
</template>

<script src="./sidebar.component.ts" lang="ts"></script>
<style src="./sidebar.scss" lang="scss" scoped></style>
