<template>
  <div class="minimal" :class="appClass">
    <navbar/>
    <v-content class="minimal-container">
      <slot />
    </v-content>
    <lf-footer/>
  </div>
</template>

<script lang="ts">
  import { Getter, Mutation, Action } from 'vuex-class';
  import { Vue, Component } from 'vue-property-decorator';

  import { Navbar } from './components';
  import { Footer } from '@/layouts/main/components';

  @Component({
    name: 'MinimalLayout',
    components: {
      navbar: Navbar,
      'lf-footer': Footer,
    },
  })

  export default class MinimalLayout extends Vue {
    @Getter('isLogIn', { namespace: 'authentication' }) $isLogIn;

    private get appClass() {
      return {
        'is-login': this.$isLogIn,
        'is-logout': !this.$isLogIn,
      };
    }
  }
</script>
