<template>
  <div>
    <div class="main" :class="appClass">
      <navbar
        :isShowSidebar="isShowSidebar"
        @onUpdateSidebar="handleSidebarChanges"
      />
      <sidebar
        :isShowSidebar="isShowSidebar"
        @onUpdateSidebar="handleSidebarChanges"
      />
      <v-content class="main-container">
        <div v-if="$loading" class="inner-loader-container">
          <v-progress-circular
            :size="80"
            :width="8"
            color="primary"
            indeterminate
          />
        </div>
        <!-- <breadcrumb /> -->
        <slot />
      </v-content>
      <lf-footer/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Getter, Mutation, Action } from 'vuex-class';
  import { Component, Mixins } from 'vue-property-decorator';

  import { LoadingMixin } from '@/mixins/loading/loading';

  import { Navbar, Sidebar, Footer } from './components';

  @Component({
    name: 'MainLayout',
    components: {
      'navbar': Navbar,
      'sidebar': Sidebar,
      'lf-footer': Footer,
    },
  })

  export default class MainLayout extends Mixins(LoadingMixin) {
    @Getter('isLogIn', { namespace: 'authentication' }) $isLogIn;

    protected isShowSidebar: boolean = false;

    private get appClass() {
      return {
        'is-login': this.$isLogIn,
        'is-logout': !this.$isLogIn,
      };
    }

    handleSidebarChanges(val: boolean) {
      this.isShowSidebar = val;
    }
  }
</script>
