<template>
    <v-card class='mt-2 elevation-0'>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">PO/no.</th>
              <th class="text-left">Material code</th>
              <th class="text-left">Description</th>
              <th class="text-left">Location</th>
              <th class="text-left">Qty</th>
              <th class="text-left">CRT</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="picking in machedPickingList.pickListItems" :key="picking.poNum">
              <td>{{ picking.poNum }}</td>
              <td>{{ picking.materialNo }}</td>
              <td>{{ picking.materialDescription }}</td>
              <td>{{ picking.warehouseLocation }}</td>
              <td>{{ picking.deliveryQty }}</td>
              <td>{{ picking.deliveryQty }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
</template>

<script src="./list-picking.view.ts" lang="ts"></script>
<style src="./list-picking.scss" lang="scss" scoped></style>
