<template>
  <v-dialog
    v-model="isLocalVisible"
    :max-width="width"
    :isPersistent="isPersistent"
    @keydown.esc="choose(false)"
    @click:outside="emitClose"
  >
    <v-card tile>
      <v-toolbar v-if="Boolean(confirmTitle)" dark :color="color" dense flat>
        <v-icon v-if="Boolean(icon)" left>{{ icon }}</v-icon>
        <v-toolbar-title class="white--text" v-text="confirmTitle"/>
      </v-toolbar>
      <v-card-text class="body-1 py-3" v-html="message"/>
      <v-card-actions>
        <v-spacer/>
        <v-btn
          v-if="Boolean(cancelText)"
          :color="buttonFalseColor"
          text
          @click="choose(false)"
        >
          {{ cancelText }}
        </v-btn>
        <v-btn
          v-if="Boolean(confirmText)"
          :color="buttonTrueColor"
          text
          @click="choose(true)"
        >
          {{ confirmText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script src="./confirm-dialog.component.ts" lang="ts"></script>
<style src="./confirm-dialog.scss" lang="scss" scoped></style>
