<template>
  <div class="footer-container fixed-bottom">
    <p class="trademark">
      <span>{{ $t('general.copyrightFooterText') }}</span>
      -
      <a
        class="privacy-link"
        target="_blank"
        href="https://www.logflows.com/en/privacy-and-policy/"
      >
        {{ $t(`general.privacyPolicy`) }}
      </a>
    </p>
  </div>
</template>

<script src="./footer.component.ts" lang="ts"></script>
<style src="./footer.scss" lang="scss" scoped></style>
