<template>
  <v-app id="app">
    <snackbar-stack/>
    <component :is="layout">
      <router-view/>
    </component>
  </v-app>
</template>

<script lang="ts">
  require('./styles/themes/light/echart-light.js');
  require('./styles/themes/dark/echart-dark.js');

  import '@/hooks.ts';
  import { Getter, Mutation, Action } from 'vuex-class';
  import { Component, Mixins, Watch } from 'vue-property-decorator';
  import colors from 'vuetify/lib/util/colors';

  import { HelperMixin } from '@/mixins/helper/helper';
  import { ThemeMixin } from '@/mixins/theme/theme';

  import SnackbarStack from '@/components/snackbar-stack/snackbar-stack.vue';
  import { NoneLayout, MainLayout, MinimalLayout } from '@/layouts';

  import SCSS_VARIABLES from '@/styles/mixins/_variables.scss';
  import { light as lTheme } from '@/plugins/vuetify/themes';

  @Component({
    name: 'App',
    components: {
      'snackbar-stack': SnackbarStack,
      'minimal-layout': MinimalLayout,
      'main-layout': MainLayout,
      'none-layout': NoneLayout,
    },
  })

  export default class App extends Mixins(HelperMixin, ThemeMixin) {
    @Getter('isLogIn', { namespace: 'authentication' }) $isLogIn;
    @Getter('isSuperAdmin', { namespace: 'authentication' }) $isSuperAdmin;
    @Getter('userInformation', { namespace: 'authentication' }) $userInformation;
    @Getter('isFullscreen', { namespace: 'common' }) $isFullscreen;

    cookieKey: string = 'portal-theme';
    defaultLayout: string = 'none';

    @Watch('$route', { deep: true })
    onRouteChanges(newVal) {
      if ((this.$browserDetect.isOpera || this.$browserDetect.isIE || this.$browserDetect.isEdge) && newVal.name !== 'notSupported') {
        this.$router.push({ name: 'notSupported' });
      }
    }

    /*@Watch('$isDarkTheme')
    themeChanges(newVal: boolean, oldVal) {
      const companyCode = this.helper.get(this.$userInformation, 'company.code', null);
      this.setSCSSTheme(companyCode, newVal);
      this.setTheme(newVal);
    }*/

    @Watch('$userInformation.company', { deep: true, immediate: true })
    onCompanyCodeChanges(newVal, oldVal) {
      const companyCode = this.helper.get(newVal, 'code', null);

      if (newVal !== undefined) {
        if (!this.$isDarkTheme) {
          const lightTheme = this.getVuetifyLightTheme(companyCode);

          if (lightTheme) {
            this.$vuetify.theme.themes.light = { ...lightTheme };
            this.setSCSSTheme(companyCode, this.$isDarkTheme, false);
          }
        }
      }
    }

    get layout(): string {
      return (this.$route.meta.layout || this.defaultLayout) + '-layout';
    }

    mounted() {
      const theme = this.getTheme();
      this.$isDarkTheme = !(theme === undefined || theme === null || theme === false);
      this.$vuetify.theme.dark = this.$isDarkTheme;
    }

    getTheme() {
      const token = this.helper.getCookie(this.cookieKey);
      if (token) {
        try {
          return JSON.parse(token);
        } catch (err) {
          return undefined;
        }
      }
      return token;
    }

    setTheme(theme) {
      return this.helper.setCookie(this.cookieKey, theme);
    }

    getVuetifyLightTheme(companyCode) {
      switch (companyCode) {
        default:
          return lTheme;
      }
    }

    setSCSSTheme(companyCode: string, isDarkTheme: boolean, reInit: boolean = true) {
      const existingThemes = [];

      if (companyCode && this.helper.includes(existingThemes, companyCode)) {
        isDarkTheme
          ? this.helper.toggleTheme(document.body, `${companyCode}-dark-theme`)
          : this.helper.toggleTheme(document.body, `${companyCode}-light-theme`);
      } else {
        isDarkTheme
          ? this.helper.toggleTheme(document.body, 'dark-theme')
          : this.helper.toggleTheme(document.body, 'light-theme');
      }
    }
  }
</script>

<style lang="scss">
  .v-application {
    font-family: Karla, Roboto, sans-serif !important;
  }
</style>
