$themes: (
  light: (
    navbar-color:                           $bay-blue-dark,
    navbar-color-darker:                    $bay-blue-darker,
    navbar-color-darkest:                   $bay-blue-darkest,
    main-color:                             $light-white,
    container-bg-color:                     $white,
    bg-color:                               $white,
    tab-border-color:                       #e1e4e8,
    separator-color:                        #EBEEF5,
    overlay-color:                          $dodger-blue,
    btn-text-color:                         $white,

    primary-light-color:                    rgba(239, 241, 250, 1),
    secondary-color:                        $yellow,
    success-light-color:                    rgba(51, 230, 209, 0.1),
    danger-light-color:                     rgba(230, 51, 51, 0.1),
  ),
  dark: (
    navbar-color:                           #102D54,
    navbar-color-darker:                    #0E2545,
    navbar-color-darkest:                   #0C1F39,
    main-color:                             #262626,
    container-bg-color:                     #1E1E1E,
    bg-color:                               $black,
    tab-border-color:                       $blacker,
    separator-color:                        #454545,
    overlay-color:                          #102D54,
    btn-text-color:                         $white,

    primary-light-color:                    rgba(250, 237, 237, 0.5),
    secondary-color:                        #FDE100,
    success-light-color:                    rgba(51, 230, 209, 0.1),
    danger-light-color:                     rgba(230, 51, 51, 0.1),
  ),
);

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .#{$theme}-theme & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
