$blacker:                   #262626;
$black:                     #333333;

$grey:                      #707070;
$dark-grey:                 #262626;
$dove-gray:                 #707070;

$light-white:               #eeeeee;
$white:                     #FFF;
$dark-white:                #D3D3D3;

$red:                       #DC3545;
$red-darker:                #C8313F;

$orange:                    #EB8D20;
$orange-darker:             #D6811D;

$yellow:                    #F7D601;
$yellow-darker:             #E1C301;

$green:                     #14AF1B;
$green-dark:                #13A019;
$green-darker:              #119017;

$catalina-blue:             #294062;
$dodger-blue:               #3a86FF;

$bay-blue:                  #2A3D92;
$bay-blue-light:            #3249ae;
$bay-blue-lighter:          #5168cd;
$bay-blue-dark:             #2B3990;
$bay-blue-darker:           #222E73;
$bay-blue-darkest:          #1F2A69;

$neon-purple:               #8400FF;
$gun-purple:                #3F3D56;

$table-border-color-light:  #C0CCDA;

$base-padding:              3rem;
$base-padding-px:           15px;

$base-margin-px:            15px;

$navbar-height:             56px;

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$gray-300: #dee2e6 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$list-inline-padding:         .5rem !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$sm-min: 601px;
$md-min: 961px;
$lg-min: 1265px;
$xl-min: 1905px;

$grid-breakpoints: (
  xs: 0,
  sm: $sm-min,
  md: $md-min,
  lg: $lg-min,
  xl: $xl-min
) !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-pill:                50rem !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

:export {
  blacker:                                                  $blacker;
  black:                                                    $black;
  white:                                                    $white;
  red:                                                      $red;
  yellow:                                                   $yellow;
  green:                                                    $green;
  bay-blue:                                                 $bay-blue;
  bay-blue-dark:                                            $bay-blue-dark;
  bay-blue-darker:                                          $bay-blue-darker;
  table-border-color-light:                                 $table-border-color-light;
  sm-min:                                                   601;
}
