<template>
  <div class="container-fluid receipt-new">
    <v-dialog
      v-model="isShowEditDialog"
      fullscreen
      content-class="receipt-find-dialog"
    >
      <v-card>
        <v-card-title>
          <h4 class="mb-3">{{ $t('fields.modifyPackage') }}</h4>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-data-table
                :headers="selectedItemsTableHeaders"
                :items="selectedItems"
                calculate-widths
                fixed-header
                item-key="materialCode"
              >
                <template v-slot:item.index="{ item }">
                  {{ selectedItemsTableIndex(item) + 1 }}
                </template>
              </v-data-table>
            </v-col>
            <v-col cols="12" md="6" lg="1">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :disabled="isConsolidate"
                :label="$t('fields.cartonNum')"
                v-model="cartonNum"
                @change="handleCartonNumChange"
              />
            </v-col>
            <v-col cols="12" md="6" lg="1" v-if="!isConsolidate">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :label="$t('fields.cartonQty')"
                v-model="cartonQty"
              />
            </v-col>
            <v-col cols="12" md="2" lg="1" class="border border-left">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :label="$t('fields.length')"
                v-model="cartonLength"
                @change="calculateVol()"
              />
            </v-col>
            <v-col cols="12" md="2" lg="1">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :label="$t('fields.width')"
                v-model="cartonWidth"
                @change="calculateVol()"
              />
            </v-col>
            <v-col cols="12" md="2" lg="1" class="border border-right">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :label="$t('fields.height')"
                v-model="cartonHeight"
                @change="calculateVol()"
              />
            </v-col>
            <v-col cols="12" md="2" lg="1">
              <v-text-field
                type="number"
                outlined
                dense
                hide-details="auto"
                :label="$t('fields.volume')"
                v-model="cartonVolume"
              />
            </v-col>
            <v-col cols="12" md="2" lg="4">
              <v-btn
                outlined
                color="primary"
                :disabled="isEditItemCartonBtnDisabled"
                @click="editItemsCarton"
              >
                {{ $t('general.confirm') }}
              </v-btn>
            </v-col>
            <v-col cols="12" md="3" lg="3">
              {{ $t('fields.totalItemQty') }}: {{ totalSelectedItemsQty }}
            </v-col>
            <v-col cols="12" md="3" lg="3">
              {{ $t('fields.currItemQty') }}: {{ totalItemCartonQty }}
            </v-col>
            <!--<v-col cols="12" md="6" lg="3">
              {{ $t('fields.remainingQty') }}: {{ totalSelectedItemsQty - totalItemCartonQty }}
            </v-col>-->
            <v-col cols="12" v-if="!isItemCartonValid" class="red--text">
              {{ $t('warning.cartoonQtyExceedTotalQty') }}
            </v-col>
            <v-col cols="12">
              <v-data-table
                :headers="itemCartonHeaders"
                :items="itemCartons"
                calculate-widths
                fixed-header
                item-key="id"
              >
                <template v-slot:item.qty="{ item }">
                  <v-text-field
                    :disabled="isConsolidate"
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.qty"
                  />
                </template>

                <!--<template v-slot:item.weight="{ item }">
                  <v-text-field
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.weight"
                  />
                </template>

                <template v-slot:item.length="{ item }">
                  <v-text-field
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.length"
                  />
                </template>

                <template v-slot:item.width="{ item }">
                  <v-text-field
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.width"
                  />
                </template>

                <template v-slot:item.height="{ item }">
                  <v-text-field
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.height"
                  />
                </template>

                <template v-slot:item.volume="{ item }">
                  <v-text-field
                    type="number"
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.volume"
                  />
                </template>-->

                <template v-slot:item.remarks="{ item }">
                  <v-text-field
                    outlined
                    dense
                    hide-details="auto"
                    v-model="item.remarks"
                  />
                </template>

                <template v-slot:item.damage="{ item }">
                  <v-select
                    outlined
                    dense
                    hide-details="auto"
                    item-text="description"
                    item-value="id"
                    :items="damages"
                    :label="$t('fields.damages')"
                    v-model="item.damage"
                  />
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            outlined
            text
            @click="hideEditDialog"
          >
            {{ $t('general.cancel') }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            outlined
            text
            @click="resetModification"
          >
            {{ $t('general.reset') }}
          </v-btn>
          <v-btn
            color="primary"
            depressed
            @click="confirmModification"
          >
            {{ $t('general.ok') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row class="search-bar" dense>
      <v-col cols="6" sm="2" class="p-0">
        <v-text-field
          outlined
          dense
          hide-details="auto"
          :label="$t('fields.poNum')"
          v-model="poNum"
          @keydown.enter.prevent="getData"
        />
      </v-col>
      <v-col>
        <v-btn
          color="primary"
          :disabled="helper.isEmptyString(poNum)"
          @click="getData"
        >
          <v-icon left>mdi-magnify</v-icon> {{ $t('general.search') }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="data">
      <v-col cols="12">
        <div>
          <h3>{{ $t('fields.split') }}: {{ splitItemCartons.length ? splitItemCartons : '-' }}</h3>
          <h3>
            {{ $t('fields.consolidation') }}:
            <template v-if="consolidateItemCartons.length === 0">
              -
            </template>
          </h3>
          <template v-if="consolidateItemCartons.length">
            <div v-for="(item, index) in consolidateItemCartons" :key="index">
              {{ $t('fields.materialCode') }}: {{ item.materialCode }}, <br>
              {{ $t('fields.consolidateWith') }}: {{ item.consolidateWith }}
            </div>
          </template>
        </div>
      </v-col>
      <v-col cols="12">
        <v-card outlined>
          <v-card-text style="padding: 16px;">
            <h2 class="pb-3">{{ $t('fields.details') }} {{ poNumVal }}</h2>
            <v-row>
              <v-col cols="12" md="6" lg="3">
                <v-text-field
                  outlined
                  dense
                  readonly
                  hide-details="auto"
                  :label="$t('fields.vendorName')"
                  v-model="data.vendCode"
                />
              </v-col>
              <v-col cols="12" md="6" lg="3">
                <v-text-field
                  outlined
                  dense
                  readonly
                  hide-details="auto"
                  :label="$t('fields.name')"
                  v-model="data.vendName"
                />
              </v-col>
              <v-col cols="12" md="6" lg="3">
                <v-text-field
                  outlined
                  dense
                  readonly
                  hide-details="auto"
                  :label="$t('fields.deliveryDate')"
                  v-model="deliveryDate"
                />
              </v-col>
              <v-col cols="12">
                <v-data-table
                  :headers="itemTableHeaders"
                  :items="tableData"
                  :height="500"
                  :value="selectedItems"
                  show-select
                  calculate-widths
                  fixed-header
                  item-key="id"
                  class="elevation-1"
                  @item-selected="handleItemSelected"
                  @toggle-select-all="handleToggleSelectAll"
                >
                  <template v-slot:item.index="{ item }">
                    {{ itemTableIndex(item) + 1 }}
                  </template>

                  <template v-slot:item.data-table-select="{ item, isSelected, select }">
                    <!--:disabled="!isItemAllowSelected(item)"-->
                    <v-simple-checkbox
                      :ripple="false"
                      :value="isSelected"
                      @input="select($event)"
                    />
                  </template>

                  <template v-slot:item.recCRT="{ item }">
                    <div :class="{ 'highlight': isItemEdited(item) }">
                      {{ getItemPOQty(item) }}/{{ getItemCartonQty(item) }}
                    </div>
                  </template>
                </v-data-table>
              </v-col>
              <v-col cols="12" md="6" lg="3">
                <v-select
                  outlined
                  dense
                  item-text="locationDescription"
                  return-object
                  :rules="requiredRules"
                  :items="stockLocations"
                  :label="$t('fields.warehouseLocations')"
                  v-model="warehouseLocation"
                />
              </v-col>
              <v-col cols="12" md="6" lg="9">
                <v-btn
                  class="float-right ml-3"
                  color="primary"
                  @click="saveData"
                >
                  {{ $t('general.save') }}
                </v-btn>
                <v-btn
                  class="float-right"
                  color="info"
                  :disabled="selectedItems.length === 0"
                  @click="editData"
                >
                  {{ $t('general.edit') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script src="./receipt-new.view.ts" lang="ts"></script>
<style src="./receipt-new.scss" lang="scss" scoped></style>
