<template>
  <div class="container-fluid picking-list">
    <v-row class="search-bar" dense>
      <v-col cols="auto">
        <v-btn depressed
          @click="showUpload"
        >
          <v-icon left>mdi-content-copy</v-icon> {{ $t('general.selectExcel') }}
        </v-btn>
      </v-col>
      <v-col cols="3" sm="3" class="p-0">
        <v-text-field
          outlined
          dense
          readonly
          hide-details="auto"
          @click="showUpload"
          :label="$t('fields.excelFileName')"
          v-model="excelFileName"
        />
      </v-col>
      <v-col cols="3" sm="3">
        <v-btn
          color="primary"
          :disabled="helper.isEmptyString(excelFileName)"
          @click="uploadExcel"
        >
          {{ $t('general.upload') }}
        </v-btn>
      </v-col>
      <input ref="fileUpload" type="file" class="d-none" @change="preloadExcelFile">
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="transition-swing text-h2">Picking</div>
      </v-col>
      <v-col cols="12">
        <list-picking :machedPickingList="machedPickingList"></list-picking>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" lg="3">
        <v-text-field
          outlined
          dense
          readonly
          hide-details="auto"
          @click="showUpload"
          v-model="machedPickingList.remark"
        />
      </v-col>
      <v-col cols="12" md="6" lg="9">
        <v-btn
          class="float-right ml-3"
          color="primary"
          @click="savePicking"
        >
          {{ $t('general.save') }}
        </v-btn>
        <v-btn
          class="float-right"
          @click="cancelPicking"
        >
          {{ $t('general.cancel') }}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script src="./list-upload.view.ts" lang="ts"></script>
<style src="./list-upload.scss" lang="scss" scoped></style>
