<template>
  <div class="container-fluid">
    Inventory Adjustment
  </div>
</template>

<script src="./inventory-adjustment.view.ts" lang="ts"></script>
<style src="./inventory-adjustment.scss" lang="scss" scoped></style>
