html,
body {
  font-family: Karla, Roboto, sans-serif !important;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: $white;
  color: #212529;
}

body.dark-theme {
  color: $white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active,
:visited {
  outline: none !important;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.vue-tel-input {
  min-height: 40px;
  border-color: rgba(0, 0, 0, 0.42) !important;
}

.v-data-table__mobile-row:last-child {
  padding-bottom: 1rem;
}

.vdatetime {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;

  border-radius: 4px;
  //border-color: rgba(0, 0, 0, 0.42);
  border: 1px solid;

  input {
    min-height: 38px;
    width: 100%;
    background: #F5F7FA;
    padding: 0 12px;
  }
}

.v-application ul, .v-application ol {
   padding-left: 0 !important;
 }

.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
  background: $bay-blue;
}

.vdatetime-year-picker__item--selected,
.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button {
  color: $bay-blue;
}
