.container-fluid {
  padding: 1rem 1rem 0;
  width: 100%;
  height: 100%;
  //min-height: calc(100vh - 100px);
  min-height: calc(100vh - 64px);
  position: relative;
}

.container {
  @include themify($themes) {
    background-color: themed('container-bg-color') !important;
    padding: 15px;
    width: 100%;
    //height: 100%;
    //min-height: calc(100vh - 64px);
    min-height: calc(100vh - 100px);
    position: relative;
    margin: 0 auto 1rem;

    @media (min-width: $sm-min) {
      max-width: 540px;
    }

    @media (min-width: $md-min) {
      max-width: 720px;
    }

    @media (min-width: $lg-min) {
      max-width: 960px;
    }

    @media (min-width: $xl-min) {
      max-width: 1140px;
    }
  }
}

.footer-container {
  color: $white;
  margin-top: 1rem;

  .trademark {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  span {
    margin-right: 0.5rem;
  }

  .privacy-link {
    color: white !important;
    text-transform: uppercase;
    margin-left: 0.5rem;
  }
}

.v-application .LOGFLW-BG .primary--text {
  color: #2a3d92 !important;
  caret-color: #2a3d92 !important;
}

.LOGFLW-BG {
  //background-color: $bay-blue !important;

  .primary-btn {
    background-color: $bay-blue !important;
    border-color: $bay-blue !important;
  }

  .form-container a {
    color: $bay-blue !important;
  }

  .footer-container {
    background: #C4C4C4;
  }
}

.footer-container {
  @include themify($themes) {
    background: themed('navbar-color');
  }
}

.caret {
  transform: rotate(0deg);
  transition: all .15s ease-in;

  &.open {
    transform: rotate(-180deg);
    transition: all .15s ease-out;
  }
}

.hide,
.hide-me {
  display: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.inner-loader-container {
  position: fixed;
  height: 100%;
  background-color: $white;
  z-index: 9998; // 9999 is the menu
  width: 100%;
  padding-top: 200px;
  text-align: center;
  top: 0;
}

.main {
  @include themify($themes) {
    background-color: themed('main-color');
    height: 100vh;
    overflow: auto;

    .btn-primary {
      color: $white;
    }
  }
}

.uppercase {
  text-transform: uppercase;

  .el-input__inner {
    text-transform: uppercase;
  }
}

@media (max-width: $md-min) {
  .responsive {
    .el-dialog {
      width: 92% !important;
      max-width: 360px;
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.red-text {
  color: $red;
}

.align-bottom-right {
  position: absolute;
  bottom: 0;
  text-align: right;
}

.steps-container {
  @include themify($themes) {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background: themed('step-color');
    width: 100%;

    .step {
      justify-content: center;
      height: 48px;
      width: percentage(1/4);
      display: flex;
      align-items: center;
      text-align: center;
    }

    .step-selected {
      color: $white;
      background: themed('step-selected-color');
      position: relative;
      overflow: hidden;
      &:before {
        border: 1px solid themed('step-selected-color');
        content: "";
        background: themed('step-selected-color');
        height: 48px;
        width: 48px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        position: absolute;
        bottom: -32px;
        right: -25px;
      }
      &:after {
        border: 1px solid themed('step-selected-color');
        content: "";
        background: themed('step-selected-color');
        height: 48px;
        width: 48px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: -32px;
        right: -25px;
      }
    }

    .step-current {
      color: $white;
      background: themed('step-selected-color');
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        background: themed('step-current-color');
        height: 50px;
        width: 50px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        position: absolute;
        bottom: -35px;
        right: -25px;
      }
      &:after {
        content: "";
        background: themed('step-current-color');
        height: 50px;
        width: 50px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: -35px;
        right: -25px;
      }
    }
  }
}

.has-error-message {
  color: #ff5252;
}

.vue-tel-input ~ .has-error-message {
  position: sticky;
  width: 100%;
  padding-left: 12px;
  font-size: 12px;
  top: 0;
  color: #ff5252;
  display: none;
}

.vue-tel-input.has-error ~ .has-error-message {
  display: inline;
}

.vue-tel-input.has-error {
  border: 2px solid #ff5252 !important;
}

.lf-btn {
  @include themify($themes) {
    &.lf-primary {
      background: themed('primary-light-color') !important;
    }

    &.lf-success {
      background: themed('success-light-color') !important;
    }

    &.lf-danger {
      background: themed('danger-light-color') !important;
    }
  }

  &.add {
    border-radius: 6px;
    opacity: 1;
    padding: 0.5rem;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;

    &.mobile {
      background: #F7F7F7;

      span {
        display: inline-block;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }
  }
}

.fixed-navigation {
  @include themify($themes) {
    background: $white;
    position: fixed;
    left: 12px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -3px 6px #00000029;
    z-index: 1;
  }
}

.secondary-color {
  @include themify($themes) {
    color: themed('secondary-color') !important;
  }
}

.card-index {
  @include themify($themes) {
    font-weight: 700;
    background-color: themed('index-color');
    color: #FFF;

    &.absolute {
      position: absolute;
      top: -10px;
      left: -12px;
    }

    &.mobile {
      position: relative;
      top: unset;
      left: unset;
    }
  }
}

.h-v100 {
  height: 100vh
}

.lf-dialog .dialog-close-btn {
  position: absolute;
  z-index: 1;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.markdown-preview {
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 6px 12px 0;
  height: 100%;
  color: black;

  &.tall {
    height: calc(100vh - 300px);;
  }

  &.borderless {
    border: none;
  }

  &.paddingless {
    padding: 12px 0 0;
  }
}

.none-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to('sm') {
    height: calc(100vh - 38px);
  }

  .none-layout-card {
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    height: 100vh;

    @include respond-to('sm') {
      height: auto;
    }

    .col,
    div[class^="col-"] {
      padding: 4px 12px;
    }

    .form-container {
      padding: 1.5rem;
    }

    .logo {
      position: relative;
      //padding-top: 33%;
      margin-top: 1rem;

      img {
        //position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        padding: 2rem;
      }
    }

    .sign-up-link {
      text-align: center;
    }

    .forgot-password {
      position: absolute;
      bottom: 125px;
      right: 1rem;
    }
  }
}

.lf-datetime-fieldset {
  padding: 0 12px;
  border-collapse: collapse;
  border-color: currentColor;
  background: #F5F7FA;
  border-radius: 4px;
  position: relative;
  min-height: 52px;

  legend {
    font-size: 12px;
    z-index: 1;
  }

  .vdatetime {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;

    input {
      max-height: 20px;
      background: transparent;
    }
  }
}

.border {
  border-color: rgba(0, 0, 0, 0.12);

  &.border-left {
    border-left-width: 1px;
    border-left-style: solid;
  }
  &.border-right {
    border-right-width: 1px;
    border-right-style: solid;
  }

  @media (max-width: $md-min) {
    border: none !important;
  }
}
