<template>
  <div class="none" :class="`${appClass}`">
    <v-content class="none-container">
      <slot />
    </v-content>
    <lf-footer class="mb-0"/>
  </div>
</template>

<script lang="ts">
  import { Component, Mixins } from 'vue-property-decorator';

  import { HelperMixin } from '@/mixins/helper/helper';

  import { Footer } from '@/layouts/main/components';

  @Component({
    name: 'NoneLayout',
    components: {
      'lf-footer': Footer,
    },
  })

  export default class NoneLayout extends Mixins(HelperMixin) {
    private get appClass() {
      return (this.helper.isNotEmpty(process.env.VUE_APP_IS_PRIVATE)) ?
        `${process.env.VUE_APP_COMPANY_CODE || 'LOGFLW'}-BG` :
        'LOGFLW-BG';
    }
  }
</script>

<style lang="scss" scoped>
  .none .footer-container {
    margin-top: 0;
  }
</style>
